/* RESET RULES */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style:none;
}
a{
    text-decoration: none;
    color: currentColor;
}
img{
    max-width: 100%;
}
/* CUSTOM PROPIETIES */
:root{
    --btn-color: #0061FF;
}
/* LAYOUT */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container-sm{
    max-width: 1000px;
    margin:0 auto;
}
.container-full{
    max-width: 100%;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-100{
    width: 100%;
}
.col-25{
    width:calc(100% / 4);
}
.col-33{
    width:calc(100% / 3);
}
.col-66{
    width:calc(100% / 3 * 2);
}
.btn{
    background-color:var(--btn-color);
    color: white;
    padding: 8px;
    display: inline-block
}
.btn-sm{
    background-color:var(--btn-color);
    color: white;
    padding: 5px;
}
/* HEADER STYLE */
.navbar{
    justify-content:space-between ;
    padding: 20px;
    align-items: center;
}
.cta-menu{
    display: flex;
    
    justify-content: space-around;
    align-items: center;
}
.navbar .cta-menu a{
    padding: 0 16px;
}
/* HERO STYLE */
.hero{
    background-color: #B4D0E7;
    padding-top: 100px;
    margin-bottom: 50px;
}
.hero-title{
    text-align: center;
    font-size: 70px;
    padding-bottom: 50px;

}
.hero-img{
    display: inline-block;
}
.hero-text{
    margin-bottom: 50px;
}
.hero-cta .btn{
    margin-bottom: 30px;
}
.hero-cta{
    margin-bottom: 120px;
}
.arrow{
    font-size: 60px;
}
/* BUSINESS SECTION STYLE */
.plan{
    margin-bottom: 50px;
}
.business-plan-title{
    font-size: 55px;
    margin-bottom: 60px;
  
}
.card{
    border: 2px solid #EDEDEE ;
    
    
}
main .row > *:not(.no-gutter){
    padding: 0 25px;
}
.contract-offers{
    row-gap: 50px;
}
.card-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    justify-content: center;
    padding: 10px 0px
}
.card-body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 50px;
    padding: 40px 30px;
    border-top: 1px solid  #EDEDEE;
    
}
.card-btn{
    width:100%;
    text-align: center;
    display: block;
    margin-bottom: 32px;
}
.card-info > *:not(:last-child),.card-price-title{
    margin-bottom: 24px;
}
.price{
    margin-bottom: 10px;
}
.card-body.custom-plan{
    flex-direction: row;
    flex-wrap: nowrap;
}
.partner-section{
    margin: 150px 0px;
}
.partner-info{
    padding: 50px 50px 0px;
}
.partner-info > *:not(:first-child){
    margin-bottom: 24px;
}
.partner-title{
    margin-bottom: 10px;
    font-size: 25px;
}