/* RESET RULES */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style:none;
}
a{
    text-decoration: none;
    color: currentColor;
}
/* LAYOUT */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container-sm{
    max-width: 1000px;
    margin:0 auto;
}
.container-full{
    max-width: 100%;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* HEADER STYLE */
.navbar{
    justify-content:space-between ;
    padding: 10px;
    align-items: center;
}
.cta-menu{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}